/* f6efb4 2796cb 35c2bd 3379e4 */

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: "Sunflower";
	color: #155263;
}
.container {
	height: 100%;
}
.items {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 1;
	justify-content: center;
	height: 300px;
	overflow: scroll;
	margin: 0;
	margin-bottom:20px;
	padding:40px;
	background-color: #f0f0f0;
}
.heading {
	width: 100%;
	text-align: center;
	margin-top: 0;
	padding: 10px;
	font-size: 60px;
	font-weight: 700;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}
.form-group {
	width: 50%;
	height: 70px;
	background: #a9a9a9;
	margin: 3% auto;
	display: flex;
	align-items: center;
	position: relative;
	box-shadow: 0 2px 6px #c8c8c8;
	border-radius: 5px;
}
.form-group-item {
	width: 220px;
	height: 100px;
	padding: 0 10px;
	background: #fefefe;
	border-radius: 3px;
	float: left;
	font-size: 24px;
	margin: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.form-group-item p {
	margin: 15px 0;
	text-align: center;
	color: #767676;
	font-weight: 200;
}
.input {
	height: 40px;
	width: 90%;
	margin: 0 auto;
	font-size: 20px;
	border: none;
	outline: none;
	background: transparent;
	color: #FFF;
}

input::placeholder{
	font-weight: 200;
	letter-spacing: 1.1px;
	font-family: cursive;
	color:#FFF;
}

input:focus::placeholder{
	content: '';
}

.input:focus + .label {
	font-size: 12px;
	margin-top: -15px;
}
.input:valid + .label {
	font-size: 12px;
	margin-top: -15px;
}
.label {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	font-size: 18px;
	color: #555;
	transition: 0.2s;
}
.center {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.button {
	padding: 15px 25px;
	margin-right: 5px;
	background: #1E88E5;
	border: none;
	outline: none;
	color: white;
	font-family: inherit;
	font-weight: 100;
	font-size: 20px;
	border-radius: 3px;
	box-shadow: 0 5px 0px #ff6464;
}
.reset {
	padding: 15px;
	margin-right: 5px;
	height: 50px;
	min-width: 100px;
	background: #d9d9d9;
	border: none;
	outline: none;
	color: 999;
	font-family: inherit;
	font-weight: 400;
	font-size: 20px;
	border-radius: 3px;
	box-shadow: 0 5px 0px #c9c9c9;
}
.reset:hover{
	background: #d1d1d1;
	border-radius: 25px;
	transition: all 0.5s;
}
.button:hover{
	box-shadow: 0px 0px 10px #CCC;
	cursor: pointer;
}
.button:active {
	transform: translateY(4px);
	border-bottom-width: 2px;
	box-shadow: none;
}
.green {
	background-color: #27cb87;
}
.form-group-item.green p {
	color: #FFFFFF;
}
.message {
	width: 100%;
	text-align: center;
	height: 20px;
}