/* f6efb4 2796cb 35c2bd 3379e4 */

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: "Sunflower";
	background-color: #c7f3ff;
	color: #155263;
}
.container {
	height: 100%;
}
.items {
	display: block;
	height: 300px;
	overflow: scroll;
	margin-bottom: 40px;
	margin: 20px;
}
.heading {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	font-size: 60px;
	font-weight: 700;
}
.form-group {
	width: 300px;
	height: 70px;
	background: #fff;
	margin: 5% auto;
	display: flex;
	align-items: center;
	position: relative;
	box-shadow: 0 3px 6px #989898;
	border-radius: 5px;
}
.form-group-item {
	width: 220px;
	height: 100px;
	padding: 0 10px;
	background: #2796cb;
	border-radius: 15px 0 15px 15px;
	float: left;
	font-size: 24px;
	margin: 10px 20px;
}
.form-group-item p {
	margin: 15px 0;
	text-align: center;
	color: #fff;
}
.input {
	height: 40px;
	width: 90%;
	margin: 0 auto;
	font-size: 20px;
	border: none;
	outline: none;
}
.input:focus {
	border-bottom: 1px solid #bbb;
	margin-top: 10px;
}
.input:focus + .label {
	font-size: 12px;
	margin-top: -15px;
}
.input:valid + .label {
	font-size: 12px;
	margin-top: -15px;
}
.label {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	font-size: 18px;
	color: #555;
	transition: 0.2s;
}
.center {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.button {
	padding: 15px;
	margin-right: 5px;
	height: 50px;
	min-width: 100px;
	background: #ff6464;
	border: none;
	outline: none;
	color: white;
	font-family: inherit;
	font-weight: 400;
	font-size: 20px;
	border-radius: 3px;
	box-shadow: 0 5px 0px #ff6464;
	border-bottom: 2px solid #d85757;
}
.button:hover {
	background: #ff6464;
	box-shadow: 0 4px 1px #ff6464;
	border-bottom: 2px solid #d85757;
	transition: all 0.1s ease-in;
}
.button:active {
	transform: translateY(4px);
	border-bottom-width: 2px;
	box-shadow: none;
}
.green {
	background-color: #27cb87;
}
.message {
	width: 100%;
	text-align: center;
	height: 20px;
}
