/* f6efb4 2796cb 35c2bd 3379e4 */

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #15632f;
    background: rgb(255,119,119);
    background: linear-gradient(194deg, rgba(255,119,119,1) 48%, rgba(245,198,165,1) 100%);
    font-family: 'Roboto', sans-serif;
}
html{
    height: 100%;
}
.no-pad{
    padding:0;
}
.p-rel{
    position: relative;
}
.container {
    height: 100%;
}
.items {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
    justify-content: center;
    height: 300px;
    overflow: scroll;
    margin: 0;
    margin-bottom: 20px;
    padding: 40px;
    background-color: inherit;
}
.heading {
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin: 1.5em 0;
    font-size: 3em;
    font-weight: normal;
    font-family: 'Josefin Sans';
}
.form-group {
    width: 50%;
    height: 70px;
    background: #fff;;
    margin: 3% auto;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px #c8c8c8;
    border-radius: 5px;
}
.form-group-item {
    width: 220px;
    height: 100px;
    padding: 0 10px;
    background: #fefefe;
    border-radius: 3px;
    float: left;
    font-size: 32px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Caveat';
}
.form-group-item p {
    margin: 15px 0;
    text-align: center;
    color: #767676;
    font-weight: 200;
}
.input {
    height: 40px;
    width: 90%;
    margin: 0 auto;
    font-size: 28px;
    border: none;
    outline: none;
    background: transparent;
    color: #852747;
    font-family: 'Caveat';
}
input::placeholder {
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 1.1px;
    font-family: 'Caveat';
    color: #852747;
}
input:focus::placeholder {
    content: '';
}
.input:focus+.label {
    font-size: 12px;
    margin-top: -15px;
}
.input:valid+.label {
    font-size: 12px;
    margin-top: -15px;
}
.label {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-size: 18px;
    color: #555;
    transition: 0.2s;
}
.center {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.green {
    background-color: #27cb87;
}
.form-group-item.green p {
    color: #FFFFFF;
}
.message {
    text-align: center;
    background-color: transparent;
}
.button.success{
    background-color: #852747;
    color: #e2e2e2;
}
.button.success:focus, .button.success:hover{
    background-color: #A2416B;
    color: #e2e2e2;
}
.text-center{
    text-align: center;
}
.removeBtnWrapper{
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    box-shadow: 0px 0px 6px #aaa;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.removeIcon {
    position: absolute;
    right: -15px;
    top: -15px;
    background: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.removeIcon a {
    color: #FFF !important;
    font-weight: 700 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}